/***********************************/
/* GAME STYLING                    */
/***********************************/
body {
  background-color: #333;
}

/***********************************/
/* LIST STYLING                  */
/***********************************/
ul.collection-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
}

ul.collection-list li {
  margin: 10px;

  border: 1px solid #555;
  border-radius: 4px;

  color: #ccc;
}

ul.collection-list li.selected {
  background: #222;
}

ul.collection-list li.new {
  border-style: dashed;
}

ul.collection-list li form {
  padding: 10px;
}

ul.collection-list li form .form-control {
  /*background-color: #ddd;
  border: 1px solid #ccc;
  color: #222;*/
}

ul.collection-list li form .btn {
  /*background-color: #ddd;
  border: 1px solid #ccc;
  color: #222;*/
  margin-left: 10px;
}

/***********************************/
/* PLAYER STYLING                  */
/***********************************/
ul.collection-list li {
  overflow: hidden;
}

ul.collection-list li .handle {
  float: left;
  width: 50px;
  padding-left: 25px;
  margin-left: -10px;
  
  cursor: pointer;
  display: block;
  
  font-size: 1.5em;
  color: #666;
  font-weight: 400;
  
  line-height: 50px;
}

ul.collection-list li h2 {
  float: left;
  font-weight: 400;
  
  padding: 10px; 
  
  margin-top: 0;
  margin-bottom: 0;
}

ul.collection-list li h3 {
  float: right;
  font-weight: 400;
 
  padding: 10px; 
  
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}


